body {
    background-image: url("icecream.jpg");
    object-fit: cover;
    height: 100px;
    width: 100%;
    background-size: 50%;
    background-position: 50% 30%;
    background-repeat: no-repeat;
    background-color: #9cdaeb;
}

h1{
    padding-top: 27%;
    text-align: center;
}

form{
    justify-content: center;
    width: 20%;
    text-align: left;
    padding-left: 40%;
}

fieldset{
    border: none;
}

#button {
width: 200px;}